html{
    background-color: #be2121;
}

#bg {
    background-color: #be2121;
    padding: 80px;
}

#bg2 {
    background-color: #be2121;
    padding: 80px;
}

.webFrame {
    position: fixed;
    z-index: 990;
    background-color: #fff;
}
#webFrameTop {
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
}
#webFrameRight {
    top: 0;
    bottom: 0;
    right: 0;
    width: 10px;
}
#webFrameBottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
}
#webFrameLeft {
    top: 0;
    bottom: 0;
    left: 0;
    width: 10px;
}

h1 {
    font-family: 'Times New Roman',serif;
    font-size: 2.75em;
    font-weight: bold;
    background-image: linear-gradient(#a54e07, #b47e11, #bc881b, #a54e07);
    color:transparent;
    -webkit-background-clip:text; 
}

label {
    font-family: 'Nerko One', cursive;
    font-size: 2em;
    background-image: linear-gradient(80deg, #a54e07, #b47e11, #bc881b, #a54e07);
    color:transparent;
    -webkit-background-clip:text; 
}

.radios {
    padding-bottom: 2.5vh;
}

::placeholder {
    font-family: 'Indie Flower', cursive;
}

input[type=text]{
    font-family: 'Andika New Basic', sans-serif;
}

input[type=text], select {
    font-size: 1em;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #e4d891;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    display: inline-block;
    outline: none;
    font-family: inherit;
    font-size: 1em;
    box-sizing: border-box;
    border: none;
    border-radius: .3em;
    height: 2.75em;
    line-height: 2.5em;
    text-transform: uppercase;
    padding: 0 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px rgba(139,66,8,1),
              inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(#a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border: 1px solid #a55d07;
    color: rgb(120,50,5);
    text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-size: 100% 100%;
    background-position:center;
}

input[type=submit]:hover {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250,227,133,1);
    border: 1px solid rgba(165,93,7,.6);
    color: rgba(120,50,5,.8);
}


.buttons {
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-family: inherit;
    font-size: 1em;
    box-sizing: border-box;
    border: none;
    border-radius: .3em;
    height: 2.75em;
    line-height: 2.5em;
    text-transform: uppercase;
    padding: 0 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px rgba(139,66,8,1),
              inset 0 -1px 1px 3px rgba(250,227,133,1);
    background-image: linear-gradient(#a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border: 1px solid #a55d07;
    color: rgb(120,50,5);
    text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-size: 100% 100%;
    background-position:center;
}

.buttons:hover {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250,227,133,1);
    border: 1px solid rgba(165,93,7,.6);
    color: rgba(120,50,5,.8);
}

.form {
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 5px 20px 0px;
    background-color: #fff4de;
    padding: 20px;
}

#wishbox {
    padding: 24px 20px;
}

p {
    font-family: 'Andika New Basic', sans-serif;
    text-align: center;
    font-size: 2em;
    background-image: linear-gradient(80deg, #a54e07, #b47e11, #bc881b, #a54e07);
    color:transparent;
    -webkit-background-clip:text; 
}

th {
   font-family: 'Andika New Basic', sans-serif;
    text-align: center;
    font-size: 1em;
    background-image: linear-gradient(80deg, #a54e07, #b47e11, #bc881b, #a54e07);
    color:transparent;
    -webkit-background-clip:text;  
}

table, td, th {  
    border: 1px solid #bc881b;
    text-align: left;
}

table {
    font-family: 'Andika New Basic', sans-serif;
    color: #a54e07;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse; 
}

th, td {
    padding: 15px;
}


@media only screen and (max-width: 800px) {
    #bg {
    background-color: #be2121;
    padding: 60px;
    height: 110%;
    overflow-y: visible;
  }
    .webFrame{
        background: linear-gradient(#a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    }
    
    table, thead, tbody, th, td, tr { 
		display: block;
	}
    thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
    
    tr { 
        border: 1px solid #fef1a2;
    }
	
	td { 
        font-family: 'Andika New Basic', sans-serif;
        color: #a54e07;
		border: none;
		border-bottom: 1px solid #bc881b; 
		position: relative;
		padding-left: 50%;
	}
    
    td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px;
		white-space: nowrap;
	}
    
    td:nth-of-type(1):before { 
        content: "ID#";
        font-size: 1.2em;
        text-align: center;}
	td:nth-of-type(2):before { content: "Gender"; }
    td:nth-of-type(3):before { content: "First Name"; }
	td:nth-of-type(4):before { content: "Last Name"; }
	td:nth-of-type(5):before { content: "Country"; }
	td:nth-of-type(6):before { content: "Age"; }
	td:nth-of-type(7):before { content: "Wish"; }
}

@media only screen and (max-width: 600px) {
    #bg {
    background-color: #be2121;
    padding: 40px;
    height: 110%;
    overflow-y: visible;
  }
    .webFrame{
        background-image: linear-gradient(#a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    }
} 